# python
__pycache__/
*.pyc
*.pyo

# virtual env
venv/
mvenv/
.env

# mac
.DS_Store

# logs
*.log

# vscode
.vscode/

# jupyter
.ipynb_checkpoints

# data outputs
data/
bronze/
silver/
gold/
*.csv
!config/target_ingredients.csv

graph_goldlayer_design.md
graph_goldlayer_design_v2.txt
graph_goldlayer_design_v4.txt
plan.md
